<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Add Student</title>
</head>
<body>
     <h2>Add Student</h2>
     
     <form action="/addStudent" method="post">
         <label>Enter Roll:</label>
         <input type="text" name="roll" required>
         <br><br>
          <label>Enter Name:</label>
         <input type="text" name="name" required>
         <br><br>
          <label>Enter Branch:</label>
         <input type="text" name="branch" required>
         <br><br>
          <label>Enter Yop:</label>
         <input type="text" name="yop" required>
         <br><br>
          <label>Enter Cgpa:</label>
         <input type="text" name="cgpa" required>
         <br><br>
         <input type="submit">
     </form>
         
</body>
</html>